---
import { LINKS } from "../../config/links";
import DiscordIcon from "../common/Icons/DiscordIcon.astro";
import InstagramIcon from "../common/Icons/InstagramIcon.astro";
import TwitchIcon from "../common/Icons/TwitchIcon.astro";
import LinkIcon from "../common/Icons/LinkIcon.astro";
---

<footer class="py-14 text-2xl text-[var(--color-gray-200)]">
  <div class="container-page">
    <!-- Text -->
    <h3 class="mb-8 text-center text-base font-bold tracking-wide md:text-2xl">Follow Us on Social Media</h3>

    <!-- Social Media icons via SVG -->
    <ul class="mt-4 flex flex-wrap items-center justify-center gap-4 md:gap-6">
      <!-- Discord -->
      <a
        href={LINKS.discord}
        class="text-[#C3B9FF] hover:text-white">
        <DiscordIcon />
      </a>

      <!-- Instagram -->
      <a
        href={LINKS.instagram}
        target="_blank"
        class="text-[#C3B9FF] hover:text-white">
        <InstagramIcon />
      </a>

      <!-- Twitch -->
      <a
        href={LINKS.twitch}
        class="text-[#C3B9FF] hover:text-white">
        <TwitchIcon />
      </a>

      <!-- Link Icon -->
      <a
        href="/"
        class="text-[#C3B9FF] hover:text-white">
        <LinkIcon />
      </a>
    </ul>

    <!-- <p class="mt-5 text-gray-400 text-xs text-center">
      © {new Date().getFullYear()} UBC Game Development. All rights reserved.
    </p> -->
  </div>
</footer>
