---
import logo from '../../assets/logo.png';
---

<header class="flex justify-center items-center gap-x-15 bg-white/5 backdrop-blur-3xl mx-auto mt-8 p-4 border border-white/30 rounded-4xl w-full max-w-5xl">
    <!-- Logo -->
    <img src={logo.src} alt="UBC Game Dev Logo" class="w-10 h-10"/>

    <!-- Nav links -->
    <nav class="flex items-center gap-x-15 font-semibold">
        <a href="/">Home</a>
        <a href="/events">Events</a>
        <a href="/partners">Partners+Sponsors</a>
        <a href="/games">Games</a>
        <a href="/about">About</a>
        <a href="/contact" class="hover:bg-[#BEA9FF] px-4 py-2 border border-[#E4E4E4] hover:border-[#BEA9FF] rounded-4xl text-white hover:text-black transition-colors duration-1000 ease-in-out">
            Contact Us</a>
    </nav>
</header>