<!-- Timeline -->
<ul class="timeline space-y-2">
    <li data-year="2022/2023"><button>2022/2023</button></li>
    <li data-year="2021/2022"><button>2021/2022</button></li>
    <li data-year="2020/2021"><button>2020/2021</button></li>
    <li data-year="2019/2020"><button>2019/2020</button></li>
    <li data-year="2018/2019"><button>2018/2019</button></li>
    <li data-year="LEGACY"><button>LEGACY</button></li>
</ul>
