---
/** Static "About" content with three parts:
 *  - Our Mission -> MAIN QUEST
 *  - How It Works -> GUILD STRUCTURE
 *  - Join Us -> JOIN THE PARTY
 */
import CyberSettingsMenu from "./CyberSettingsMenu";
import BackgroundText from "../effects/BackgroundText.astro";
---

<section class="container-page relative z-10 pt-32 pb-10 md:pb-14">
  <div class="relative mb-24 text-center">
    <BackgroundText
      text="ABOUT"
      className="pointer-events-none top-0 left-1/2 -translate-x-1/2 text-8xl opacity-[0.05] md:text-[15rem]"
    />
  </div>

  <CyberSettingsMenu client:load />
</section>
