---
import ImmersiveLayout from "../layouts/ImmersiveLayout.astro";
import AboutSection from "../components/about/AboutSection.astro";
---

<ImmersiveLayout title="UBC Game Dev // Mission Briefing">
  <main>
    <AboutSection />
  </main>
</ImmersiveLayout>
