---
import Layout from "../layouts/Layout.astro";
import ExecGrid from "../components/about/ExecGrid.astro";
import AboutSection from "../components/about/AboutSection.astro";
import { execs } from "../data/execs";
---

<Layout>
  <main>


    <AboutSection />


    <ExecGrid execs={execs} />
  </main>
</Layout>
