---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/about/AboutSection.astro";
---

<Layout
  title="UBC Game Dev // Mission Briefing"
  immersive
>
  <main>
    <AboutSection />
  </main>
</Layout>
