---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/home/ContactForm";
import CyberBadge from "../components/common/CyberBadge.astro";
---

<Layout>
  <div class="mx-auto mt-24 mb-12 max-w-3xl text-center">
    <div class="mb-6 inline-flex justify-center">
      <CyberBadge
        label="Contact Us"
        variant="brand"
      />
    </div>

    <h1 class="font-pixel text-4xl font-extrabold tracking-tight text-[var(--text)] uppercase md:text-5xl">
      Get in <span class="text-[var(--cyber-yellow)]">Touch</span>
    </h1>
  </div>

  <ContactForm
    client:load
    title="Contact Us"
    subtitle="Have a question or want to collaborate? Send us a message and we'll get back to you!"
  />
</Layout>
