---
import Layout from "../layouts/Layout.astro";
import { ExecService } from "../services";
import ExecGrid from "../components/team/ExecGrid.astro";

const execs = ExecService.getAll();
import "../styles/global.css";
---

<Layout>
  <main class="pt-32">
    <ExecGrid execs={execs} />
  </main>
</Layout>
