---
import heroGraphic_0 from "../../assets/hero/hero-graphics-0.png";
import heroGraphic_1 from "../../assets/hero/hero-graphics-1.png";
---

<!-- NOTE: The number indicates the Z-index -->
<div class="relative mx-auto mt-20 mb-24 h-[700px] w-[1250px] max-w-full">
  <img
    src={heroGraphic_0.src}
    alt="Hero Graphic 0"
    class="absolute inset-0 z-0 h-full w-full object-contain"
  />
  <img
    src={heroGraphic_1.src}
    alt="Hero Graphic 1"
    class="absolute inset-0 z-10 m-auto h-auto"
  />
</div>
